@use './variables' as *;

@mixin light-theme {
  // Variáveis CSS
  --primary: #{$primary};
  --secondary: #{$secondary};
 
  --bg-primary: #ffffff;
  --bg-card: #ffffff;
  --bg-secondary: #f5f5f5;
  --border-color: #e0e0e0;
  --text-primary: #212121;
  --text-secondary: #757575;
  --placeholder-color: #a0a0a0; 
  
  // Variáveis específicas para Bootstrap
  --bs-primary: #{$primary};
  --bs-secondary: #{$secondary};
}